@using Forum.Application.Users.Request
@model UserPasswordChangeModel

@{
    ViewBag.Title = "Change Password";
}


<div class="row justify-content-center">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">Account Details</div>
            <div class="card-body">
                <form asp-action="ChangePassword">
                    <div class="mb-3">
                        <label asp-for="OldPassword" class="mb-1">Password</label>
                        <input class="form-control" asp-for="OldPassword" placeholder="password" type="password"/>
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="NewPassword" class="mb-1">New Password</label>
                        <input class="form-control" asp-for="NewPassword" placeholder="new password" type="password" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="mb-1">Confirm Password</label>
                        <input class="form-control" asp-for="ConfirmPassword" placeholder="confirm password" type="password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button class="btn btn-primary" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}
