@using Forum.Application.Users.Request
@model UserUpdateModel

@{
    ViewBag.Title = "Change Personal Infromation";
}

<div class="row justify-content-center">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">Account Details</div>
            <div class="card-body">
                <form asp-action="Update">
                    <div class="mb-3">
                        <label asp-for="UserName" class="mb-1">Username</label>
                        <input class="form-control" asp-for="UserName" placeholder="username"/>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                        <label asp-for="FirstName" class="mb-1">First Name</label>
                        <input class="form-control" asp-for="FirstName" placeholder="Jack" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="LastName" class="mb-1">Last Name</label>
                            <input class="form-control" asp-for="LastName" placeholder="Smith" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="mb-1">Email Address</label>
                        <input class="form-control" asp-for="Email" placeholder="name@@example.com" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="row mb-3 align-items-end">
                        <div class="col-md-9">
                            <label asp-for="PhoneNumber" class="mb-1">Phone Number</label>
                            <input class="form-control" asp-for="PhoneNumber" placeholder="Phone Number" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <a asp-action="RemovePhoneNumber" class="btn btn-danger">Remove</a>
                        </div>

                    </div>
                    <button class="btn btn-primary" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}
