@using Forum.Application.Topics.Response
@using Forum.Domain.Enums
@model List<TopicAdminResponseModelWithCommentCount>

@{
    ViewBag.Title = "Topics";
    ViewBag.Action = "UserTopics";
}

<div>
    @await Html.PartialAsync("_TopicsPartial", Model)
</div>
