@using Forum.Application.Topics.Response
@using Forum.Common.Paging
@model List<TopicResponseModelWithCommentCount>

@{
    ViewBag.Title = "Topics";
    ViewBag.Action = "Archive";
}


<div>
    @await Html.PartialAsync("_TopicsPartial", Model)
</div>
